.displayed {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.submit1 {
	float: left;
	margin: 0;
}

header {
	text-align: center;
}
.main {
	margin: auto;
	padding-top: 200px;
}
.buttons {
	position: relative;
	margin:auto;
}